{% extends 'appointments/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block block_home %}
{% endblock %}
{% block block_about %}
{% endblock %}
{% block block_services %}
{% endblock %}
{% block block_app %}
{% endblock %}
{% block block_contact %}
{% endblock %}
{% block admin_info %}
<li class="nav-item">
  <a class="nav-link" href="#">Administrator Interface</a>
</li>
{% endblock %}


{% block content %}

    <p style="margin-bottom:4cm;"></p>
    
    <div class="container">
      


      <div class="row">
        <div class="col">  
        <p style="margin-bottom:2.5cm;"></p>
        <form action="{% url 'appointments:adminsum' %}" method="POST">
          {% csrf_token %}
          <div class="col-md-12 text-center">
            <input class="btn btn-secondary btn-block" type="submit" value="Apointments">
          </div>
        </form>
        <p style="margin-bottom:1cm;"></p>

        <form action="{% url 'appointments:adminusersum' %}" method="POST">
          {% csrf_token %}
          <div class="col-md-12 text-center">
            <input class="btn btn-primary btn-block" type="submit" value="Users">
          </div>
        </form>
        <p style="margin-bottom:1cm;"></p>

        <form action="{% url 'appointments:adminvetsum' %}" method="POST">
          {% csrf_token %}
          <div class="col-md-12 text-center">
            <input class="btn btn-secondary btn-block" type="submit" value="Veterinaries">
          </div>
        </form>

        <p style="margin-bottom:1cm;"></p>
        <form action="{% url 'appointments:adminpetsum' %}" method="POST">
          {% csrf_token %}
          <div class="col-md-12 text-center">
            <input class="btn btn-secondary btn-block" type="submit" value="Pets">
          </div>
        </form>

        </div>
        
        <div class="col-8">
          <h1 style="text-align: center;">Clients</h1>
          <p style="margin-bottom:1cm;"></p>
          {% if has_users%}
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Username</th>
                  <th scope="col">Name</th>
                  <th scope="col">Mail</th>
                  <th scope="col">Telephone</th>
                  <th scope="col" class="text-center">Options</th>
                </tr>
              </thead>
              <tbody>
                {% for c_user in users%}
                <tr>
                  <td>{{c_user.username}}</td>
                  <td>{{c_user.name}}</td>
                  <td>{{c_user.email}}</td>
                  <td>{{c_user.telephone}}</td>
                  <td>
                    <div class="row">
                      <form action="{% url 'appointments:adminmoduser' c_user.id %}" method="POST">
                        {% csrf_token %}
                        <div class="col-md-12 text-center">
                          <input class="btn btn-primary" type="submit" value="Modify">
                        </div>
                      </form>
                      <form action="{% url 'appointments:admindeluser' c_user.id %}" method="POST">
                        {% csrf_token %}
                        <div class="col-md-12 text-center">
                          <input class="btn btn-primary" type="submit" value="Delete">
                        </div>
                      </form>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          
          {% else %}
          <p style="margin-bottom:1cm;"></p>
          <h4 style="text-align: center;">There are no registered clients</h4>
          {% endif%}          
        </div>
        
        <div class="col-2">  
          <form action="{% url 'appointments:adminuserreg' %}" method="POST">
            {% csrf_token %}
            <div class="col-md-12 text-center">
              <input class="btn btn-primary" type="submit" value="Add new user">
            </div>
          </form>
        </div>
        
      </div>
    </div>
    
    

    
{% endblock %}
{% block footer %}
<div class="container text-center">
  <img class="img-rounded" src="{% static 'images/logot.png' %}" alt="Card image cap">
</div>
{% endblock %}
