{% extends 'appointments/base.html' %}

{% block extrahead %}
{% load bootstrap4 %}
{{ appform.media }}
{% endblock %}


{% block block_home %}
{% endblock %}
{% block block_about %}
{% endblock %}
{% block block_services %}
{% endblock %}
{% block block_app %}
{% endblock %}
{% block block_contact %}
{% endblock %}
{% block admin_info %}
<li class="nav-item">
  <a class="nav-link" href="#">Administrator Interface</a>
</li>
{% endblock %}

    
{% block content %}
<p style="margin-bottom:4cm;"></p>
<p style="text-align: center;color:blue;">
  {{suggestions}}
</p>
<form action="{% url 'appointments:adminsavechanges' question_id %}" method="POST">
  {% csrf_token %}
  <div class="container">
    <div class="row">
      
      <div class="col-sm">
        <h2 style="text-align: center;">Appointment Details</h2>
        {% bootstrap_form appform %} 
      </div>
      
      <div class="col-sm">  
        <h2 style="text-align: center;">Pet Details</h2>
        {% bootstrap_form petform %}
      </div>
      
    </div>
  </div>
  <div class="col-md-12 text-center">
    <input class="btn btn-primary" type="submit" value="Save changes">
  </div>
</form>

<p style="margin-bottom:1cm;"></p>
<form action="{% url 'appointments:adminsum'%}" method="POST">
    {% csrf_token %}
    <div class="col-md-12 text-center">
      <input class="btn btn-primary" type="submit" value="Go Back">
    </div>
  </form>
{% endblock %}

{% block footer %}
{% endblock %}
