{% extends 'appointments/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}
 
    <p style="margin-bottom:4cm;"></p>
    <h2 style="text-align: center;">Register new admin</h1>
    <p style="margin-bottom:1cm;"></p>
    <h3 style="text-align: center;">{{note}}</h3>
    <form action="{% url 'appointments:checkadminreg' %}" method="POST">
        {% csrf_token %}
        <div class="container">
          <div class="row">
            <div class="col-sm">  
            </div>

            <div class="col-sm">
              {% bootstrap_form adminregform size='small'%}
              
            </div>
            
            <div class="col-sm">  
            </div>
            
          </div>
        </div>
        <div class="col-md-12 text-center">
          <input class="btn btn-primary" type="submit" value="Register">
        </div>
      </form>

{% endblock %}