{% extends 'appointments/base.html' %}

{% load static %}

{% block block_app %}
<li class="nav-item active">
  <a class="nav-link" href="{% url 'appointments:app' %}">Appointments<span class="sr-only">(current)</span></a>
</li>
{% endblock %}

    
{% block content %}
<p style="margin-bottom:2cm;"></p>

<form action="{% url 'appointments:confirm' %}" method="POST">
  {% csrf_token %}
  <div class="container">
    <div class="row">
      
      <div class="col-sm">
        <h2 style="text-align: center;">Appointment Details</h2>
        {% bootstrap_form appform size='small'%}
        
      </div>
      
      <div class="col-sm">  
        <h2 style="text-align: center;">Pet Details</h2>
        {% bootstrap_form petform size='small'%}
      </div>
      
    </div>
  </div>
  <div class="col-md-12 text-center">
    <input class="btn btn-primary" type="submit" value="Create appointment">
  </div>
</form>

{% endblock %}
