<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>D&E Veterinary</title>
  </head>
  <body>
    {% load static %}
    {% load widget_tweaks %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {% block extrahead %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/custom-style.css' %}">
    
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-primary">
      <a class="navbar-brand"  href="#" >
        <img src="{% static 'images/logo_transparent.png' %}" height="100">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          {% block block_home %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'appointments:home' %}">Home</a>
          </li>
          {% endblock %}
          {% block block_about %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'appointments:about' %}">About</a>
          </li>
          {% endblock %}
          {% block block_services %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'appointments:services' %}">Services</a>
          </li>
          {% endblock %}
          {% block block_app %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'appointments:app' %}">Appointments</a>
          </li>
          {% endblock %}
          {% block block_contact %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'appointments:contact' %}">Contact</a>
          </li>
          {% endblock %}
          {% block admin_info %}
          {% endblock %}
        </ul>
        <span class="navbar-text" style="width: 50px;">{{username}}</span>
        {% if username == ''%}
          <form class="form-inline" action="{% url 'appointments:login' %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-success" type="submit">Log In</button>
          </form>
        {% else %}
          <form class="form-inline" action="{% url 'appointments:logout' %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-warning" type="submit">Log Out</button>
          </form>
        {% endif%}
      </div>
    </nav>

    {% block content %}
    
    {% endblock %}

  </body>

  {% block footer %}
  <p style="margin-bottom:4cm;"></p>
  <div class="jumbotron", style="background-color:rgb(240, 238, 238) !important;">
    <div class="container">
      <div class="row">
          <div class="col-md-6">
              <h1 style="color:dodgerblue;">Contact</h1><br>
              <h3><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
              </svg> +(506) 1234-5678</h3>
              <br>
              <h3><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
                <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
              </svg> M – F: 9am – 6pm;  Sat: 9am – 4pm </h3>
              <br>
              <h3><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-building" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
                <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
              </svg> San José, Costa Rica
              </h3>
              <br>

              <h3><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-mailbox" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M4 4a3 3 0 0 0-3 3v6h6V7a3 3 0 0 0-3-3zm0-1h8a4 4 0 0 1 4 4v6a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V7a4 4 0 0 1 4-4zm2.646 1A3.99 3.99 0 0 1 8 7v6h7V7a3 3 0 0 0-3-3H6.646z"/>
                <path fill-rule="evenodd" d="M11.793 8.5H9v-1h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.354-.146l-.853-.854z"/>
                <path d="M5 7c0 .552-.448 0-1 0s-1 .552-1 0a1 1 0 0 1 2 0z"/>
              </svg> deveterinary@gmail.com
              </h3>
              <br>
          </div>
          
          <div class="col-md-6">
            <img class="card-img-top" src="{% static 'images/dogo.jpg' %}" alt="Card image cap">
          </div>
      </div>
    </div>
  </div>

  {% endblock %}
</html>


