{% extends 'appointments/base.html' %}

{% load static %}

{% block block_home %}
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'appointments:home' %}">Home<span class="sr-only">(current)</span></a>
  </li>
{% endblock %}

{% block content %}
<p style="margin-bottom:3.4cm;"></p>

<!-- <div class="jumbotron">
<div class="container">
  <div class="row">
      <div class="col-md-6">
          <h1>Big Test</h1>
          <h2>Little Test</h2>
      </div>
      <div class="col-md-6">
        <img class="card-img-top" src="{% static 'images/dogo.jpg' %}" alt="Card image cap">
      </div>
  </div>
</div>
</div> -->

<div class="container text-center">
<div class="jumbotron" style="background-image: url('{% static 'images/white.jpg' %}');">
  <div class="container text-center">
    <img class="img-rounded" src="{% static 'images/logot.png' %}" alt="Card image cap">
  </div>
<h1 class="display-4" style="color: rgb(31, 68, 124);">Welcome to D&E Veterinary!</h1>
<p class="lead" style="color:  rgb(31, 68, 124);">We offer a variety of services to keep your pet safe and healthy.</p>
<hr class="my-4">
<p class="lead">
<a class="btn btn-primary btn-lg" href="{% url 'appointments:about' %}" role="button">Read our story</a>
</p>
</div>
</div>

<div class="container">
<div class="d-flex mt-5 justify-content-center">
<div class="card card-custom mx-2 mb-3">
  <img class="card-img-top" src="{% static 'images/dogo.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Therapy Service</h5>
        <p class="card-text">Professional therapy services for traumatic events.</p>
      </div>
      <a href="{% url 'appointments:services' %}" class="btn btn-primary">Learn more</a>
</div>
<div class="card card-custom mx-2 mb-3">
  <img class="card-img-top" src="{% static 'images/cat.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Emergency</h5>
        <p class="card-text">24 hour emergency services for your pet.</p>
      </div>
      <a href="{% url 'appointments:services' %}" class="btn btn-primary">Learn more</a>
</div>
<div class="card card-custom mx-2 mb-3">
  <img class="card-img-top" src="{% static 'images/bird.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Routine checkup</h5>
        <p class="card-text">Routine checkup to check on your pet's health</p>
      </div>
      <a href="{% url 'appointments:services' %}" class="btn btn-primary">Learn more</a>
</div>

</div>
</div>
{% endblock %}