<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My page 1</title>
  </head>
  <body>
    {% load static %}

    <!-- <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}"> -->

    <ul>
        <li><a href="{% url 'appointments:home' %}">Home</a></li>
        <li><a href="{% url 'appointments:about' %}">About</a></li>
        <li><a href="{% url 'appointments:services' %}">Services</a></li>
        <li><a href="{% url 'appointments:log' %}">Apppointments</a></li>
        <li><a href="{% url 'appointments:contact' %}">Contact</a></li>
    </ul>
    
    <h1>LOGS</h1>

  </body>
</html>
