{% extends 'appointments/base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block block_app %}
<li class="nav-item active">
  <a class="nav-link" href="{% url 'appointments:app' %}">Appointments<span class="sr-only">(current)</span></a>
</li>
{% endblock %}


{% block content %}

    <p style="margin-bottom:4cm;"></p>
    <h1>Summary</h1>

    <form action="{% url 'appointments:usernewapp' %}" method="POST">
      {% csrf_token %}
      <div class="col-md-12 text-center">
        <input class="btn btn-primary" type="submit" value="Add new apointment">
      </div>
    </form>
{% endblock %}
